<h1><%= @post.title %></h1>
<p>
	Autor:<%= @post.user.nickname %> |
	Creeated at:<%= @post.created_at %> |
	Update at:<%= @post.updated_at %>
</p>
<p><%= sanitize(@post.body) %></p>

<% @comment.each do |comment| %>
	<%= image_tag comment.user.avatar.url, width: 30, height: 30 %>
	<p>User <b><%= comment.user.nickname %></b> say: </p>
	<p><%= comment.comment %></p>
<% end %>

<%= form_for :postcomment ,url: post_postcomments_path(@post.id), method: :post do |f| %>
	<% if flash[:notice] %>
		<div class="notice"> <%= flash[:notice] %></div>
	<% end %>
	<p><%= f.label "Add your comment" %></p>
	<p><%= f.text_area :comment, cols: 5,rows: 5 %></p>
	<%= f.submit "Add Comment" %>
<% end %>
